@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* #### MY RESET ### */
  /*
  Create a root stacking context
  */
  :root {
    isolation: isolate;
  }

  /* Smoot scroll in anchor links */
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  * {
    @apply border-neutral;
    /* @apply font-bricolage; */
    @apply text-base;
  }

  /* Custom selection color */
  *::selection {
    @apply bg-secondary text-secondary-content;
  }

  /* Toggle display for custom light and dark elements */
  [data-theme="dark"] .light {
    display: none;
  }
  [data-theme="cupcake"] .dark {
    display: none;
  }

  body {
    line-height: 1.5;
    /* TODO: Ask about this effect on fonts "Improve text rendering" */
    /* -webkit-font-smoothing: antialiased; */
  }
  /* #### END OF MY RESET ### */

  :root {
    --gradient-colors: linear-gradient(
      -45deg,
      #ffa63d,
      #ff3d77,
      #338aff,
      #3cf0c5
    );
  }

  /* Spacing system classes */
  .gap {
    @apply gap-24 sm:gap-32 md:gap-80;
  }

  /*
  Allow percentage-based heights in the application
*/
  html,
  body {
    height: 100%;
  }

  body {
    /* @apply bg-base-100 text-base-content; */
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight;
  }

  h2 {
    /* @apply mt-4 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors; */
    @apply mt-0 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors;
  }

  h2:first {
    @apply mt-0;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  p {
    @apply leading-7;
  }

  p:not:first-child {
    @apply mt-6;
  }
}
