@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient-colors: linear-gradient(
      -45deg,
      #ffa63d,
      #ff3d77,
      #338aff,
      #3cf0c5
    );
  }

  .dark {
  }
}

/* Use the @layer directive to tell Tailwind which “bucket” a set of custom
 styles belong to. Valid layers are base, components, and utilities. 
 Wrapping any custom CSS with @layer also makes it possible to use modifiers
  with those rules, like hover: and focus: or responsive modifiers like md: and lg:.
 */

@layer base {
  * {
    @apply border-neutral;
    /* @apply font-bricolage; */
    @apply text-base;
  }

  body {
    /* @apply bg-base-100 text-base-content; */
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight;
  }

  h2 {
    /* @apply mt-4 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors; */
    @apply mt-0 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors;
  }

  h2:first {
    @apply mt-0;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  p {
    @apply leading-7;
  }

  p:not:first-child {
    @apply mt-6;
  }

  [data-theme="dark"] .light {
    display: none;
  }

  [data-theme="cupcake"] .dark {
    display: none;
  }

  .gap {
    @apply gap-24 sm:gap-32 md:gap-80;
  }
}

/* Shadcn -> Daisy


*/
